**/*.ts
**/.gitignore
**/.editorconfig
**/.vscode/**
**/.DS_Store
**/*.map
**/tsconfig.json
**/node_modules/**
!node_modules/duckdb/**
!node_modules/@mapbox/**
!node_modules/node-addon-api/**
!node_modules/node-gyp/**
!node_modules/abbrev/**
!node_modules/agent-base/**
!node_modules/chownr/**
!node_modules/consola/**
!node_modules/cross-spawn/**
!node_modules/debug/**
!node_modules/detect-libc/**
!node_modules/encoding/**
!node_modules/env-paths/**
!node_modules/exponential-backoff/**
!node_modules/glob/**
!node_modules/https-proxy-agent/**
!node_modules/iconv-lite/**
!node_modules/minipass/**
!node_modules/minizlib/**
!node_modules/mkdirp/**
!node_modules/ms/**
!node_modules/node-fetch/**
!node_modules/nopt/**
!node_modules/safer-buffer/**
!node_modules/semver/**
!node_modules/tar/**
!node_modules/tr46/**
!node_modules/webidl-conversions/**
!node_modules/whatwg-url/**
!node_modules/yallist/**
!node_modules/@isaacs/**
!node_modules/foreground-child/**
!node_modules/jackspeak/**
!node_modules/minimatch/**
!node_modules/brace-expansion/**
!node_modules/path-key/**
!node_modules/path-scurry/**
!node_modules/lru-cache/**
!node_modules/package-json-from-dist/**
!node_modules/shebang-command/**
!node_modules/shebang-regex/**
!node_modules/signal-exit/**
!node_modules/which/**
!node_modules/rimraf/**
!node_modules/string-width/**
!node_modules/strip-ansi/**
!node_modules/ansi-regex/**
!node_modules/eastasianwidth/**
!node_modules/emoji-regex/**
!node_modules/is-fullwidth-code-point/**
!node_modules/wrap-ansi/**
!node_modules/ansi-styles/**
!node_modules/color-convert/**
!node_modules/color-name/**
!node_modules/@pkgjs/**
!node_modules/fs.realpath/**